Client/Connected Services/ServiceReference1/LibraryServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibraryServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibraryServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency" nillable="true" type="tns:Currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrency" nillable="true" type="tns:ArrayOfCurrency" />
  <xs:complexType name="Currency">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:double" />
      <xs:element minOccurs="0" name="Iso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
  <xs:complexType name="History">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Amounts" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExchangeRates" nillable="true" type="q2:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="History" nillable="true" type="tns:History" />
</xs:schema>